Flask==0.10.1
Jinja2==2.7.1
MarkupSafe==0.18
PennSDK==0.1.3
Werkzeug==0.9.4
distribute==0.6.34
gunicorn==18.0
httplib2==0.8
itsdangerous==0.23
redis==2.8.0
requests==1.2.3
six==1.4.1
twilio==3.6.4
unittest2==0.5.1
wsgiref==0.1.2
