

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Penn Course Monkey. Trying to get into a closed course? We'll text you when it opens up.">
      <meta name="author" content="Sunny Shah Dhruv Maheshwari">

      <title>Penn Course Monkey</title>
      <!-- <link rel="stylesheet" type="text/css" href="lp.css" /> -->
      <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:600,300' rel='stylesheet' type='text/css'> -->
      <!-- <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'> -->
      <link rel="shortcut icon" href="{{ url_for('static', filename='logo.png') }}">
      <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
       <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
      <!-- Custom styles for this template -->
      <link rel="stylesheet" href="{{ url_for('static', filename='signin.css') }}">
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

      <script>(function(d, s, id) {
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) return;
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=563455283724372";
     fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  </head>

  <body>

    <a id="contact" href="mailto:penncoursemonkey@gmail.com">Get in Touch </a>

    <div class="container">

    <div class="logo" align="center">
      <img src="{{ url_for('static', filename='logo.png') }}" class="monkey-logo">
      <!-- <div class="tagline">COURSE MONKEY</div> -->
      <div class="tagline"><img src= "{{ url_for('static', filename='coursemonkey.png') }}" class="monkey-tagline-logo"></div>
    </div>
  
<!--     <table>
    <tr> <td> Course Title </td> <td> Course Status </td></tr>
    {% for key in d: %}
    	<tr> <td>{{key}} </td><td> {{ d[key] }}</td></tr>
    {% endfor %}
    </table> -->

<div class="tableDiv">
    <table class="table table-striped table-bordered table-hover" style="width:100%; margin-left:auto; margin-right:auto; margin-bottom:20px;">
      <tr> <td> Course Code </td><td> Instructor </td><td> Course Time </td><td> Course Status </td></tr>
      {% for key in d: %}
      {% if d[key][0] is not None: %}
      <div class="row">

        {% if( d[key][0] =='Open'): %}
        <div class="col-xs-6 col-sm-3"><tr class="success"> <td>{{ key }} </td><td>{{ d[key][1] }}</td><td>{{ d[key][2] }}</td><td> {{ d[key][0] }}</td></tr></div>
        {% endif %}

        {% if(d[key][0]=='Closed'): %}
        <div class="col-xs-6 col-sm-3"><tr class="danger"> <td>{{ key }}</td><td>{{ d[key][1] }}</td><td>{{ d[key][2] }}</td><td> {{ d[key][0]}}</td></tr></div>
        {% endif %}

      </div>
      {% endif %}
      {% endfor %}
    </table>
</div>


<div class="forms-on-courses">
    <div class="floatLeft">
    <form class="form-signin" action="/addnumber" method="post">
        <h2 class="form-signin-heading"></h2>

        <input type="text" class="form-control" name="number" placeholder="(808) 888-8888" required autofocus>

        <input type="text" class="form-control" name="course" placeholder="ACCT-101-001" required autofocus>
        <!-- <input type="password" class="form-control" placeholder="Password" required> -->
        <!-- <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label> -->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Notify Me!</button>

      </form>
    </div>


    <div class="floatRight">
      <div id="form">
      <!-- <form class="form-signin" action="/course/" method="post" target="hidden_iframe" onsubmit="submitted=true;"> -->
      <form class="form-signin" action="/course/" method="post">
        <h2 class="form-signin-heading"></h2>
        <input type="text" class="form-control" name="course_id" placeholder="ACCT-101-001" required autofocus>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Look Up Your Course</button>
        <!-- <button>Check Course Status</button> -->
      </form>
      </div>
    </div>

  </div> <!-- closes forms on course -->


    <!-- <div id="form">
      <form action="/addnumber" method="post">
        <label>Phone Number</label> <input type="text" name="number" placeholder="123456789"> 
        <label>Course</label>  <input type="text" name="course" placeholder="deptnumbersection">
        <button>Submit</button>
      </form>
    </div> -->


    </div> <!-- /container -->

  </body>
</html>
