<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title> Course Grabber</title>
     <link rel="stylesheet" type="text/css" href="lp.css" />
     		<link href='http://fonts.googleapis.com/css?family=Open+Sans:600,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
  		<script src="jquery-1.10.0.min.js"> </script>
  		<script src="learn.js"></script>


        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="description" content="The Learner Project" />
    </head>
    <body>
    


<div id="form">
<form action="/addnumber" method="post">
<h2> Join the challenge! </h2>

<label>phone number  </label> <input type="text" name="number" placeholder="phone number"> 

<label> Course </label>  <input type="text" name="course" placeholder="deptnumbersection">
<button> submit </button>
</form>
</div>


</div>

        </body>
        </html>
