<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title> Penn Course Monkey </title>
     <link rel="stylesheet" type="text/css" href="lp.css" />
     		<link href='http://fonts.googleapis.com/css?family=Open+Sans:600,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
  		
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45883676-1', 'penncoursemonkey.com');
  ga('send', 'pageview');

</script>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="description" content="The Learner Project" />
    </head>
    <body>
    


<div id="form">
<form action="/course/" method="post">

<label>Course ID  </label> <input type="text" name="course_id" placeholder="Course Id"> 

<button> submit </button>
</form>
</div>


</div>

        </body>
        </html>
