<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Penn Course Monkey. Trying to get into a closed course? We'll text you when it opens up.">
        <meta name="author" content="Sunny Shah Dhruv Maheshwari">

        <title>Penn Course Monkey</title>

       <link rel="shortcut icon" href="{{ url_for('static', filename='logo.png') }}">
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
         <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="{{ url_for('static', filename='signin.css') }}">
    	
    	<script>(function(d, s, id) {
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) return;
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=563455283724372";
       fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    </head>

    <body>

      <a id="contact" href="mailto:penncoursemonkey@gmail.com">Get in Touch </a>

      <div class="container">

        <div class="logo" align="center">
          <img src="{{ url_for('static', filename='logo.png') }}" class="monkey-logo">
          <!-- <div class="tagline">COURSE MONKEY</div> -->
          <div class="tagline"><img src= "{{ url_for('static', filename='coursemonkey.png') }}" class="monkey-tagline-logo"></div>
        </div>
    
      <!-- <table>

      {% for item in s: %}
      	<tr> <td>{{ item }}</td></tr>
      {% endfor %}

      </table> -->

      <table class="table table-striped table-bordered" style="width:50%; margin-left:auto; margin-right:auto; margin-bottom:20px;">
          <tr><td>Your Current Notifications</td></tr>

          {% for item in s: %}
          <div class="row">
            <div class="col-xs-6 col-sm-3"><tr class="success"><td> {{item}} </td></tr></div>
          </div>
          {% endfor %}

       </table>

      <br />
      <br />

  </body>
</html>
